<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Text Formatter</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Text Formatter</h1>

        <form id="textFormatterForm" onsubmit="return handleSubmit()" method="post" action="/format" enctype="multipart/form-data" class="mt-4">
            <div class="form-group">
                <textarea id="textInput" name="textInput" rows="10" class="form-control" placeholder="Enter text here..."></textarea>
            </div>

            <div class="form-group">
                <label for="fileUpload">Upload a text file:</label>
                <input type="file" id="fileUpload" name="fileUpload" class="form-control-file">
                <button type="button" id="removeFileBtn" class="btn btn-warning btn-sm mt-2">Remove</button>
            </div>

            <div class="checkbox mb-3">
                <label><input type="checkbox" name="reverse" value="true"> Reverse Text</label>
            </div>
            <div class="checkbox mb-3">
                <label><input type="checkbox" name="analyzeText" value="true"> Analyze Text</label>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="/form-handler.js"></script>
</body>

</html>
